node_modules
dist
build
coverage
.git
.DS_Store
*.log
*.min.js
*.min.css
package-lock.json
yarn.lock
.eslintcache
.next
.nuxt
.vscode
.idea
*.tsbuildinfo
android
ios
.expo
metro.config.js
babel.config.js